/* body {
    background-image: url({
        {
            url_for('assets', filename='Background.jpeg')
        }
    })

} */

body{
    background-image: url("{{ url_for('static', filename='Background.jpeg') }}");
    min-height: 1080px;
}
.navbar {
    margin-bottom: 0;
}
