{% extends "base_admin.html" %}
{% block head%}
<title>Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
<style>
    .films{
        color: red !important;
    }
</style>
{% endblock %}

{% block body%}
<div class="centerall">
    <h1>Neuer Film hinzufügen</h1>
   
    
        <div class="centerall">
            <h1>Alle Filme</h1>
            <table>
                <tr>
                    <td>Filmname</td>
                    <td>Beschreibung</td>
                    <td>Saal</td>
                    <td>Film ändern</td>
                    <td>Film löschen</td>
                </tr>
                {% for film in allFilms %}
                <tr>
                    <td id="td1">
                        <a id="tda1" >{{film.name}}</a></td>  
                    <td id="td1">
                        <a id="tda1" >{{film.description}}</a></td>  
                    <td id="td1">
                        <a id="tda1" >{{film.roomname}}</a></td>
                    <td id=td1>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateusermodal" data-userid="{{user.id}}" data-username="{{user.username}}" data-firstname="{{user.firstname}}" data-name="{{user.name}}" data-password="{{user.password}}" data-isadmin="{{user.isadmin}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                              </svg>
                            </button>
                    </td>
                    <td>      
                        <a onclick="deleteFilm('{{film.id}}','{{film.roomid}}')" class="btn btn-primary" >
                            <span  style='font-size:15px'class="glyphicon glyphicon-trash"></span>  
                          </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="5">
    
                        <button class="btn btn-primary" class="bi bi-plus-square" data-toggle="modal" data-target="#newFilmModal" data-error="fgfg" ><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg></button>
        
                        <div class="modal fade" id="newFilmModal" tabindex="-1" role="dialog" aria-labelledby="newFilmModal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="newFilmModal">Neuen Film hinzufügen</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" id=flashes>
                                        <form method="POST" id=formUpdateRoomName>
                                            <div class="form-group">
                                                <label for="name" class="col-form-label">Filmname:</label>
                                                <input type="text" class="form-control" name="name" id="name">
                                                <label for="description" class="col-form-label">Filmbeschreibung:</label>
                                                <input type="text" class="form-control" name="description" id="description">
                                                <label for="roomname" class="col-form-label">Saal name:</label>
                                                <input type="text" class="form-control" name="roomname" id="roomname">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal" href="/admin/film/">Abbrechen</button>
                                                <button type="button" class="btn btn-primary" id="newFilmButton">Ändern</button>
                                            </div>
                                        </form>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
{% endblock %}


