{% extends "base_admin.html" %}

{% block head %}
<title>Sitzeverwalten</title>
<link rel="stylesheet" href="{{ url_for('static', filename='roomoptions.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<style>
    .rooms{
        color: red !important;
    }
</style>
{% endblock %}
{% block body %}
<div class="centerall">
    <h2>Eigenschaften von Raum: {{room.roomname}}</h2>
    </br>
    <div class="sector1">
        <div>
            Raum: {{ room.roomname }}
        </div>
        <div>
            <button id="print" class="button sector1button"><i class="fas fa-print"></i></button>
            <button id="download" class="button sector1button"><a href="data:;base64,{{ image }}" download="Sitzplatzreservierung QRCode.png"><i class="fas fa-download"></i></a></button>
        </div>
        <div>
            <!-- Trigger the Modal -->
            <img id="qrcode" src="data:;base64,{{ image }}">

            <!-- The Modal -->
            <div id="qrcode_modal" class="qrcode_modal">

                <!-- The Close Button -->
                <span class="qrcode_modal_close">&times;</span>

                <!-- Modal Content (The Image) -->
                <img class="qrcode_modal_image" id="img01">
            </div>
        </div>
    </div>
    <div class="grid1">
        <div class="sector1 sector2">
            <h3>Sitzbelegung</h3>
            <p class="textingrid">Schaue die momentane Sitzbelegung an. Und der Verlauf jeder Reservierung pro Sitz.</p>
            <a class="buttoningrid" href="/admin/{{room.id}}/taken/"></a>

        </div>
        <div class="sector1 sector2">
            <h3>Sitz reservieren</h3>
            <p class="textingrid">Reservie einen Sitz. Weiter zum Formular.</p>
            <a class="buttoningrid" href="/admin/{{room.id}}/register/"></a>
        </div>
        <div class="sector1 sector2">
            <h3>Daten exportieren</h3>
            <p class="textingrid">Exportiere die Daten, des jetzigen Raumes.</p>
            <a class="buttoningrid" href="google.ch/"></a>
        </div>
    </div>
    <p><img /></p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-roomid="{{room.id}}" data-oldname="{{room.roomname}}"><i style='font-size:15px' class='fas'>&#9998; Raum umbenennen</i></button>
    <a onclick="deleteRoom('{{ room.id }}')" class="trash btn btn-primary">
        <span  style='font-size:15px'class="glyphicon glyphicon-trash"></span> Raum löschen 
      </a>
    <i class="bi bi-trash" class="btn btn-primary" onclick="deleteRoom('{{ room.id }}')" aria-hidden="true" style='font-size:15px' class='fas'></i>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Raumnamen ändern</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" id=formUpdateRoomName>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Neuer Raumname:</label>
                            <input type="text" class="form-control" id="recipient-name" name="newname">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" href="/admin">Abbrechen</button>
                            <button type="button" class="btn btn-primary" id="b1">Ändern</button>
                        </div>
                    </form>
                </div>
            </div> 
        </div>
    </div>
</div>
{% endblock %}