{% extends "base_admin.html" %}
{% block head%}
<title>Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
<style>
    .rooms{
        color: red !important;
    }
</style>
{% endblock %}
{% block body%}
<div class="centerall">
    <h1>Alle Räume</h1>
    <div class="grid-container">
        {% for room in rooms %}
        <a class="grid-item room" href="/admin/{{room.id}}/options">{{ room.roomname }}</a>
        {% endfor %}
        
        
        <div class="modal fade" id="newroommodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Neuen Raum erstellen</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            <div class="form-group">
                                <div>
                                    <label for="newroomname" class="col-form-label">Neuer Raum:</label>
                                    <input type="text" class="form-control" name="newroomname" id="newroomname">
                                </div>
                                <label class="col-form-label"> </label>
                                <div>
                                    <label for="sumseats" class="col-form-label">Anzahl Sitzplätze:  </label> 
                                    <input type="number" min="1" max="100" value="1" name="sumseats" id="sumseats" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" href="/admin/rooms">Abbrechen</button>
                                <button type="button" class="btn btn-primary" onClick="newroom()">Erstellen</button>
                            </div>
                        </form>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <img class="plus" data-toggle="modal" data-target="#newroommodal" src="{{ url_for('static', filename='plus.png') }}">
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script>
        (function($) {
        $.fn.spinner = function() {
        this.each(function() {
        var el = $(this);
        
        // add elements
        el.wrap('<span class="spinner"></span>');     
        el.before('<span class="sub">-</span>');
        el.after('<span class="add">+</span>');
        
        // substract
        el.parent().on('click', '.sub', function () {
        if (el.val() > parseInt(el.attr('min')))
        el.val( function(i, oldval) { return --oldval; });
        });
        
        // increment
        el.parent().on('click', '.add', function () {
        if (el.val() < parseInt(el.attr('max')))
        el.val( function(i, oldval) { return ++oldval; });
        });
            });
        };
        })(jQuery);
        
        $('input[type=number]').spinner();
        </script>

    <style>
        input[type=number] {
  float: left;
  width: 70px;
  height: 35px;
  padding: 0;
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
  color: #25323B;
  border: 2px #25323B solid;
  background: none;
  outline: none;
  pointer-events: none;
}

span.spinner {
  position: absolute;
  height: 40px;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

span.spinner > .sub,
span.spinner > .add {
  float: left;
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
  font-family: Lato;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 33px;
  color: #25323B;
  border: 2px #25323B solid;
  border-right: 0;
  border-radius: 2px 0 0 2px;
  cursor: pointer;
  transition: 0.1s linear;
  -o-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
}

span.spinner > .add {
  top: 0;
  border: 2px #25323B solid;
  border-left: 0;
  border-radius: 0 2px 2px 0;
}

span.spinner > .sub:hover,
span.spinner > .add:hover {
  background: #25323B;
  color: #25323B;
}
 input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
 -webkit-appearance: none;
}
    </style>



</div>
{% endblock %}