{% extends "base_admin.html" %}

{% block head%}
<title>Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
{% endblock %}

{% block body%}
<div class="centerall">
    <p>Alle Räume</p>
    <table>
        {% for room in user.rooms %}
        <tr>
            <td id="td1">
                <a id="tda1" href="/admin/{{room.id}}/options">{{ room.roomname }}</a></td>  
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-roomid="{{room.id}}" data-oldname="{{room.roomname}}"><i style='font-size:15px' class='fas'>&#xf044;</i></button>
            </td>
            <td>
                <a onclick="deleteRoom('{{ room.id }}')" class="btn btn-primary">
                    <span  style='font-size:15px'class="glyphicon glyphicon-trash"></span>  
                  </a>
                <i class="bi bi-trash" class="btn btn-primary" onclick="deleteRoom('{{ room.id }}')" aria-hidden="true" style='font-size:15px' class='fas'></i>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="3">
                <button class="btn btn-primary" class="bi bi-plus-square" data-toggle="modal" data-target="#newroommodal" ><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg></button>

                <div class="modal fade" id="newroommodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Neuen Raum erstellen</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="POST">
                                    <div class="form-group">
                                        <label for="newroomname" class="col-form-label">Neuer Raum:</label>
                                        <input type="text" class="form-control" name="newroomname" id="newroomname">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" href="/admin">Abbrechen</button>
                                        <button type="button" class="btn btn-primary" onClick="newroom()">Erstellen</button>
                                    </div>
                                </form>
                            </div>
                        </div> 
                    </div>
                </div>
            </td>
        </tr>
    </table>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Raumnamen ändern</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" id=formUpdateRoomName>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Neuer Raumname:</label>
                            <input type="text" class="form-control" id="recipient-name" name="newname">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" href="/admin">Abbrechen</button>
                            <button type="button" class="btn btn-primary" id="b1">Ändern</button>
                        </div>
                    </form>
                </div>
            </div> 
        </div>
    </div>

</div>
{% endblock %}