{% extends "base_admin.html" %}
{% block head%}
<title>Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
<style>
    .films{
        color: red !important;
    }
</style>
{% endblock %}

{% block body%}
<div class="margin-left">
    <h1 class="title"><b>Film Hinzufügen</b></h1>
    <div class="grid-container">
        <form method="POST">

            <div class="box">
                <div>
                    <label class="description" for="filmname">Film Name</label>
                    <input
                    name="filmname"
                    placeholder=""
                    />
                </div>
                </br>
                <div>
                    <label class="description" for="duration">Dauer</label>
                    <input
                    name="duration"
                    placeholder=""
                    />
                </div>
                </br>
                <div>
                    <label class="description" for="duration">Saal</label>
                    <input
                    name="room"
                    placeholder=""
                    />
                </div>
                </br>
                <div>
                    <button>Bild Hochladen</button>
                </div>
            </div>
            <div>
                <button type="submit">Hinzufügen</button>
            </div>

        </form>
    </div>
</div>
{% endblock %}