{% extends "base.html" %}

{% block head%}
<title>Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block body%}
<style>
.startpage{
    background-image: url("{{ url_for('static', filename='Background.jpeg') }}");
    min-height: 1080px;
}
</style>
<div class="startpage">

</div>
<div class="grid-container films">
    <a>test</a>
    {% for film in user.film %}
    <div class="movie">
        <img class="mov_pic" src="{{ film.image }}">
        <a class="description">{{ film.name }}</a>
        <a class="description">{{ film.room }}</a>
        <a href="/admin/{{ film.room }}/register/"></a>
        <a>test</a>
    </div>

    {% endfor %}

</div>


{% endblock %}