{% extends "base.html" %}

{% block head%}
<title>Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block body%}
<style>
.startpage{
    background-image: url("{{ url_for('static', filename='Background.jpeg') }}");
    min-height: 1080px;
}
</style>
<div class="startpage">

</div>
<div class="grid-container films">
    {% for film in allFilms %}
    <div class="movie">
        <img class="mov_pic" src="{{ film.name }}">
        <br/>
        <a class="description">{{ film.name }}</a>
        <br/>
        <a class="filmdesc">{{film.description}}</a>
        <br/>
        <a class="description">{{ film.roomname }}</a>
        <br/>
        <a class="btn btn-primary" href="/admin/{{ film.roomid }}/register/">Sitzplatzreservieren</a>
    </div>

    {% endfor %}

</div>


{% endblock %}