{% extends "base.html" %}

{% block head%}
<title>Seat</title>
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='seat.css') }}">
{% endblock %}

{% block body%}
<div class="centerall">
    <h1>Eintragen</h1>
    <form method="POST" id="registerseatinput" >
        <div>
            <div class="form-group">
                <label for="vorname">Vorname</label>
                <input
            name="vorname"
            placeholder="Vorname"
                />
            </div>
            </br>
            <div class="form-group">
                <label for="name">Name</label>
                <input
            name="name"
            placeholder="Name"
                />
            </div>
            </br>
            </br>
            <div class="form-group">
                <label for="email">Email Address</label>
                <input
            name="email"
            placeholder="Email Adresse"
                />
            </div>
            </br>
           
            <div class="form-group">
                <label for="seatnr">Sitzplatznummer</label>
                <select name="seatnr" id="list"></select>

                <script>
                    for (var i=1; i<="{{room.sumseats}}"; i++) {
                    var name = "Sitzplatz "+i;
                    var sel = document.getElementById("list");
                    sel.options[sel.options.length] = new Option(name,i);}
                </script>
            
            </div>
            </br>
            <div>
                <button type="button" onclick="registerseat('{{room.id}}')" class="btn btn-primary">Eintragen</button>
        </div>
    </form>
   
{% endblock %}