{% extends "base_admin.html" %}

{% block head%}
<title>Seat</title>
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
<link rel="stylesheet"href="{{ url_for('static', filename='seat.css') }}">
<style>
    .rooms{
        color: red !important;
    }
</style>
{% endblock %}

{% block body%}
<div class="centerall">
    <h1>Sitzbelegung von Raum: {{room.roomname}}</h1>
    <table>
        <tr>
            <td>Sitznummer</td>
            <td>Status</td>
            <td>History</td>
        </tr>
        {% for r in registers %}
        <tr>
            <td>
                <a>{{r.seatnr}}</a>
            </td>
            <td>
               {% if r.dateregisterd > currenttime12h %}
                <a>Sitz ist frei</a>
                {% else %}
                <a>Sitz ist besetzt</a>
                {% endif %}
            </td>
            <td>
                <button class="btn btn-primary" onclick="window.location.href='/admin/taken/{{room.id}}/history/{{r.seatnr}}'">History</button>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}